apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-hello
spec:
  ingressClassName: nginx
  rules:
  - host: "nginx-demo.k8s.local"
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          # service to be served by ingress
          service:
            name: nginx-hello
            port:
              number: 80
