apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
spec:
  # match deployment selector
  selector:
    app: {{ .Values.name }}
  ports:
    - protocol: TCP
      port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
